<h1>Here is the list of users</h1>
<div class="user-list">
  <% @users.each do |person| %>
  <div class="user">
    <img src=<%= person.photo %> class='user-img' alt='hello world'>
    <div class='user-info'>
      <h2>Name: <%= person.name %></h2><br>
    </div>
  </div>
  <% end %>
</div>
