<h1>Here is the list of users</h1>
<div class="user-list">
  <div class="user">
    <% @users.each do |person| %>
    <img src=<%= person.photo %> alt='hello world'>
      Name: <%= person.name %><br>
    <% end %>
  </div>
</div>
